

.blog h1{
    text-align: center;
    margin-top: 100px;
}

.blog_card{
    display: flex;
    justify-content: center;
    cursor: pointer;
   
}

.blog_cardImg:hover {
    transform: scale(1.1);
}
.blog_cardImg{
  }