

.blog h1{
    text-align: center;
    margin-top: 100px;
}

.blog_card{
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

.blog_cardImg:hover {
    transform: scale(1.1);
}