 
 .brand-container {
   padding: 50px;
    display: flex;
    justify-content: center;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
  }
  
  .brand-img {
    height: 45px;
    
    cursor: pointer;

  }
  
  .brand-img:hover {
    transform: scale(1.1);
  }
   

   