.nav{
    width: 100%;
   
    display: flex;
    
    justify-content: space-between;
    align-items: center;

    background-color: white;
    
   
    
}


.nav_right {
    width: 70%;
    display: flex;
    justify-content: flex-end;
   
   
}

.nav_rightLinks a{
    text-decoration:none;
    color:#555;
    margin: 1rem;
    
    
}
.nav_rightLinks a:hover{
color:rgb(194, 153, 88);
}


