


.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: #f7f7f7;

  }
  
  .footer-section {
    width: 30%;
    text-align: left;
    margin-left: 40px;
  }
  
  .contact-details {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  .contact-details li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .contact-details li svg {
    margin-right: 10px;
   
  }
  
  .information-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
   
  }
  
  .information-links li {
    margin-bottom: 10px;
    
  }
  
  .social-media-buttons {
    display: flex;
    
  }
  
  .social-media-buttons a {
    margin-right: 10px;
    color: lightgray;
  
  }
  
  .newsletter-section {
    padding: 30px;
    background-color: #f7f7f7;
  
   
    
  }
  
  .newsletter-form {
    display: flex;
   
    align-items: left;
    margin-left: 40px;
  }
  
  .newsletter-form input {
  
    margin-bottom: 20px;
    border: none;
   
    
  }
  
  .newsletter-form button {
   
   
    color: #333;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 10px;
  }

.copyright{
    text-align: center;
}
  